/* Effective stylesheet produced by snapshot save */
body { padding: 0px; margin: 0px; font-family: Trebuchet MS,sans; color: rgb(34, 34, 34); background: none repeat scroll 0% 0% rgb(229, 227, 218); }
a img { border: medium none; }
a { color: rgb(132, 150, 132); text-decoration: none; }
a:hover { cursor: pointer; color: rgb(234, 163, 21); }
h2, h3, h4 { font-variant: small-caps; }
h3 { border-bottom: 1px dotted; color: rgb(85, 85, 85); padding-left: 10px; font-size: 1.3em; margin-top: 30px; }
h4 { margin: 10px 0px 5px 20px; color: rgb(85, 85, 85); font-size: 1.1em; }
table { border-collapse: collapse; width: 100%; }
fieldset { border: medium none; }
dt { font-weight: bold; }
#top_menu_container { background-color: rgb(65, 65, 65); border-bottom: 1px solid rgb(0, 0, 0); }
#top_menu { height: 30px; width: 960px; margin: auto; font-size: 0.9em; overflow: hidden; }
#top_menu .whatsNewItem { font-weight: bold; color: rgb(255, 204, 0); }
#top_menu a { color: rgb(255, 255, 255); }
#top_menu a:hover { color: rgb(251, 107, 16); }
#top_menu ul { list-style: none outside none; margin: 0px; padding: 0px; }
#top_menu li { float: left; padding: 0px; }
#top_menu .menuSection { display: block; line-height: 30px; margin: 0px; padding: 0px 10px; text-align: center; text-decoration: none; }
#top_menu li a:hover, #top_menu ul li:hover a { text-decoration: none; }
#top_menu li ul { background: none repeat scroll 0% 0% rgb(65, 65, 65); display: none; height: auto; padding: 0px; margin: 0px; border: 0px none; position: absolute; width: 225px; z-index: 200; }
#top_menu li:hover ul { display: block; }
#top_menu li li { border-top: 1px solid rgb(85, 85, 85); display: block; float: none; margin: 0px; padding: 0px; width: 225px; }
#top_menu li:hover li a { background: none repeat scroll 0% 0% transparent; }
#top_menu li ul a { display: block; margin: 0px; padding: 7px 10px; text-align: left; }
#top_menu li ul a:hover, #top_menu li ul li:hover a { border: 0px none; text-decoration: none; }
#top_menu .show { font-size: 1.2em; font-weight: bold; }
.menuItem img { margin-left: 2px; }
#languageSelectionContainer { padding-top: 2px; float: right; }
#languageSelection { margin-left: 10px; margin-top: 2px; height: 20px; }
#user_menu { float: right; }
#profile img { position: relative; top: 2px; margin-right: 2px; }
#log_out img { position: relative; top: 2px; }
#inbox img { position: relative; top: 3px; }
.newMessage { font-weight: bold; }
.search_bar_container { position: relative; margin-right: 30px; }
.search_bar_left, .search_bar_right { position: absolute; top: 0px; height: 50px; width: 40px; }
.search_bar_left { left: 0px; background: url("search_bar_left.png") no-repeat scroll left center transparent; }
.search_bar_right { right: 0px; background: url("search_bar_right.png") no-repeat scroll right center transparent; }
.search_bar { height: 50px; background: url("search_bar_body.png") repeat scroll 0% 0% transparent; position: relative; color: rgb(255, 255, 255); margin: 0px 40px 20px; }
.search_bar a { font-size: 0.9em; color: rgb(255, 255, 255); display: block; margin-bottom: 3px; }
.search_bar a:hover { color: rgb(255, 255, 255); }
.search_bar #into { font-family: Arial,Sans-serif; font-size: 1.3em; margin-top: 20px; text-align: center; }
.search_bar fieldset { border: medium none; padding: 0px; margin: 2px 5px 2px 2px; display: inline; text-align: left; }
.search_bar label { font-size: 0.8em; display: block; }
.search_bar .select { width: 110px; }
.search_bar .input { width: 300px; }
#SentenceSearchForm { text-align: center; }
#SentenceQuery { width: 300px; }
.search_bar select { width: 110px; }
#header { text-align: right; float: left; padding: 10px; }
#container1 { width: 960px; margin: auto; padding: 0px 10px; background: url("bg_main.png") repeat-y scroll 0% 0% transparent; }
#container { width: 850px; margin-left: 100px; background: none repeat scroll 0% 0% rgb(255, 255, 255); min-height: 550px; }
#content { font-size: 0.8em; }
#annexe_content { float: right; width: 250px; font-size: 0.8em; }
#main_content { margin-left: 10px; margin-right: 260px; font-size: 0.8em; }
.module { padding: 10px 10px 5px; margin: 0px 0px 20px; background: url("module_background.png") repeat-x scroll left bottom transparent; overflow: hidden; }
#annexe_content .module { margin-left: 5px; }
.module h2 { background: url("title.png") no-repeat scroll left top transparent; padding-left: 28px; margin: 0px 0px 15px -8px; font-size: 1.5em; color: rgb(0, 0, 0); }
.module h2 .annexe { font-variant: normal; font-weight: normal; font-size: 0.8em; }
.main_module { font-size: 1.25em; padding: 10px 10px 5px; background: url("module_background.png") repeat-x scroll left bottom transparent; margin-bottom: 20px; }
.main_module h2 { background: url("urn:not-loaded:http://css.tatoeba.org/img/title_main.png") no-repeat scroll left top transparent; padding-left: 32px; font-size: 1.5em; border-bottom: medium none; margin: 0px 0px 0px -8px; }
#annexe_content ul { margin: 5px 0px; padding-left: 20px; }
#annexe_content ul li { list-style-type: none; }
#footer { background: none repeat scroll 0% 0% rgb(227, 224, 214); height: 18px; clear: both; }
#footer_container { background: url("bg_footer.png") repeat scroll left bottom transparent; width: 960px; height: 24px; margin: auto; padding: 0px 10px; }
#footer a { color: rgb(61, 61, 61); cursor: pointer; text-decoration: none; }
#footer ul { margin: 0px; display: block; float: right; font-size: 80%; }
#footer li { display: block; height: 30px; line-height: 30px; text-align: center; float: left; list-style: none outside none; padding-left: 10px; padding-right: 10px; }
.more_link { text-align: right; }
.ToLanguage { font-family: Arial,Sans-serif; font-size: 1.3em; margin: 0px 5px; }
#flashMessage, #authMessage { margin: 20px 10px; padding: 10px; color: rgb(224, 89, 0); background: none repeat scroll 0% 0% rgb(237, 224, 184); text-align: center; }
.warning { font-size: 15px; padding: 10px; margin: 10px 0px; border: 1px solid rgb(255, 193, 181); background-color: rgb(255, 221, 214); color: rgb(209, 82, 60); }
.important { color: red; }
#session_expired { color: red; padding: 10px; background-color: rgb(241, 241, 241); border: 1px solid rgb(225, 225, 225); }
#UserLoginForm_FromBar { position: absolute; right: 200px; top: 27px; z-index: 1000; min-width: 270px; padding: 3px 3px 5px 5px; background: url("urn:not-loaded:http://css.tatoeba.org/img/alert-overlay.png") repeat-x scroll 0% 0% rgb(65, 65, 65); color: rgb(255, 255, 255); }
#UserLoginForm_FromBar fieldset { border: 0px none; text-align: right; line-height: 25px; }
#UserLoginForm_FromBar label { text-align: right; }
#UserLoginForm_FromBar input[type="text"], #UserLoginForm_FromBar input[type="password"] { height: 15px; width: 120px; background: url("urn:not-loaded:http://css.tatoeba.org/img/alert-overlay.png") repeat-x scroll 0% 0% rgb(255, 255, 255); display: inline-block; padding: 2px 0px 0px 3px; color: rgb(65, 65, 65); border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-size: 0.9em; }
#UserLoginForm_FromBar input[type="submit"] { width: 120px; background: url("urn:not-loaded:http://css.tatoeba.org/img/alert-overlay.png") repeat-x scroll 0% 0% rgb(34, 34, 34); display: inline-block; padding: 4px 10px 5px; color: rgb(255, 255, 255); text-decoration: none; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: relative; font-size: 0.9em; }
#UserLoginForm_FromBar p { margin: 0px; padding: 0px; }
.annexeMenu { list-style: none outside none; margin-left: 0px; padding-left: 1em; text-indent: -1em; }
.annexeMenu .item { margin: 5px 0px; }
.annexeMenu .item:before { content: "» "; }
.contactLink { margin-top: 20px; background: url("urn:not-loaded:http://css.tatoeba.org/img/send_pm.png") no-repeat scroll 0% 0% transparent; }
.contactLink a { display: block; padding-left: 30px; line-height: 24px; }
